<center>
 <div class="container-fluid row">
     <div class="col-md-12 offset-md-0">
    <div class="card">


<h2 class="card-header">Novo Cliente</h2>

<%= render "form.html", Map.put(assigns, :action, cliente_path(@conn, :create)) %>

<span><%= link "Voltar", to: cliente_path(@conn, :index) %></span>

</div>
</div>
</div>
</center>

