<center>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">

<h2 class="card-header">Monstrar Usuário</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password_hash %>
  </li>

</ul>

<span><%= link "Editar", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Voltar", to: user_path(@conn, :index) %></span>
  </div>
 </div>
</div>
</center>
